/* Home Page  Ini*/
/* IMG GALLERY*/

.container {
  .imgHome {
    @include sizes(100%, 250px);
  }
  .imgHome:hover {
    border: 5px solid rgb(0, 0, 0);
  }
  .col-lg-4 {
    margin: 0 !important;
    padding: 25px;
  }
}
